// Colors
$color-white: #fff;
$color-alabaster: #f8f8f8;
$color-blacksqueeze: #eef4f9;
$color-cadetblue: #a8b7c5;
$color-slategray: #697b8c;
$color-comet: #555c78;
$color-foutain: #50aabe;
$color-minsk: #353285;
$color-mantis: #7fbc56;
$color-tiamaria: #d34511;
$color-black: #000;

// Dimensions
$width-sidebar: 320px;
$width-sidebar-mobile: 220px;
