$color-pack: false;

@import '~vuetify/src/styles/main.sass';

.blueShadow{
  -webkit-box-shadow: 0px 9px 13px -8px rgba(33,150,243,0.42);
-moz-box-shadow: 0px 9px 13px -8px rgba(33,150,243,0.42);
box-shadow: 0px 9px 13px -8px rgba(33,150,243,0.42);
border: 1px solid #efefef !important;
}

.odd {
  background-color: #2196f3;
}
.contreverse {
  background-color: #03a9f4;
}
.noteg {
  background-color: #00bcd4;
}


html {
    scroll-behavior: smooth;
}
.v-tab:before{
    background-color: transparent;
}

.theme--light.v-text-field--solo > .v-input__control > .v-input__slot{
  box-shadow: none !important;
  border-top: 3px solid #2196f3 !important;
  border: 1px solid #eee;
}

.theme--light.v-sheet.borderBlue{
  border-top: 8px solid #2196f3;
}

.tooltip {
    
    display: block !important;
    z-index: 10000;
  
    .tooltip-inner {
      background: white;
      color: black;
      padding: 5px 10px 4px;
      min-width: 450px;
      min-height: 200px;
      border-top: 7px solid #2196f3;
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      border-radius: 5px;
    }
  
    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color:#2196f3;
      z-index: 1;
    }
  
    &[x-placement^="top"] {
      margin-bottom: 5px;
  
      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="bottom"] {
      margin-top: 5px;
  
      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="right"] {
      margin-left: 5px;
  
      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
  
    &[x-placement^="left"] {
      margin-right: 5px;
  
      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
  
    &.popover {
      $color: #f9f9f9;
  
      .popover-inner {
        background: $color;
        color: black;
        padding: 24px;
        border-radius: 5px;
        box-shadow: 0 5px 30px rgba(black, .1);
      }
  
      .popover-arrow {
        border-color: $color;
      }
    }
  
    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }
  
    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }
  }
  